.simple-table,
th,
td {
  border: 1px solid black;
}

.simple-table {
  margin: 5% auto 10% auto;
}

.simple-table th,
td {
  padding: 15px;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.container h2 {
  color: white;
  background-color: black;
  text-align: center;
  padding: 2%;
}
